.navbar-nav .nav-link:hover {
    color: orange; 
  }
.navbar-nav .nav-link {
    
    font-weight: 600;
    color: rgb(255, 255, 255); 
  }
  .home{
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 69%;
   
}

.into {
  color: orange;
  height: 60vh;
  gap: 20px;
 margin-top: 5em;
  
}
.sub{
  color: aliceblue;
}
.into h1{
  font-size: 55px;
  font-family: math;
}
.into h4{
  padding-top: 30px;
}
.main{
  display: flex;
  justify-content: center;
}
.get-in-touch{
   margin-top: 10vh;
   
}
.get-in-touch img{
background-color: #fff;
  height: 40px;
  width: 55px;
  padding: 5px 0px 5px 0px ;
  border-radius:40%;
 margin-right: 15px;
}
#goto{
  text-decoration: none;
}
#goto h6{
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 height: 40px;
 width: 150px;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 20px;
  border: none;
}

@media(max-width:550px){
  .into {
    color: orange;
   
    height: 60vh;
    gap: 20px;
   margin-top: 5em;
    margin-left: 15px;
  }
  .sub{
    color: aliceblue;
  }
  .into h1{
    font-size: 35px;
    font-family: math;
  }

}
@media(max-width:850px){
  .into {
    color: orange;
   
    height: 60vh;
    gap: 20px;
   margin-top: 5em;
    margin-left: 15px;
  }
  .sub{
    color: aliceblue;
  }
  .into h1{
    font-size: 35px;
    font-family: math;
  }

}
/* about */
.about{
  height: 80vh;
  background-color: rgb(37, 39, 38);
 
}
.about-first{
 text-align: center;
}
.firdt-cont{
  padding-top: 30px;
  color: bisque;
  display: flex;
  justify-content: center;
}
.about-first h3{
  
  color: orange;

}
.about-first p {
  margin-top: -15px;
  font-size: larger;
  font-weight: 600;
  color: rgb(255, 255, 255);

}
.touch{
  display: flex;
  justify-content: center;
}
/* footer */
.firdt-cont1{
  display: flex;
  justify-content: center;
  height: 10vh;
  color: white;
  background-color: black;
  
}
.foot{
  font-size: 15px;
  font-weight: 500;
}

  /* document.html */

.schoolscards{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
.alldoc{
  height: auto;
  width: 100vw;
  background-color: rgb(138, 138, 138);
}

  .same{
    padding: 20px 0px 20px 0px; 
       margin: auto;
    text-align: center;
        height: 220px;
        width: 327px ;
        border-radius: 20px;
        font-size: 26px;
        font-family: math;
        background-color: white;
        box-shadow: 7px 7px 10px rgb(75, 74, 74);
    }
    .same p{
      font-size: 18px;
    }
    .same button{
        background-color: rgb(189, 189, 240);
        padding: 5px 20px 5px 20px;
        border-radius: 20px;
        margin-top: 30px;
        font-weight: 700;
    
    }
    .same button:hover{
        background-color:rgb(162, 162, 163);
    
    }
    @media(max-width:800px){
      .schoolscards{
        margin-top: 30px;
        display: list-item;
        justify-content: center;
      }
      .same{
        margin-top: 30px;
      }
    }
    /* collage doucments */
    .collagecards{
      height: auto;
      width: 100vw;
      display: grid;
      grid-row-gap: 20px;
     grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
.alldoc h4{
  font-size: 30px;
  font-weight: 800;
 padding-top: 20px;
}


/* newnavbar */
.logo img{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-left: 20px;
}
li{
  list-style: none;
 }
 .navbar a{
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
 }
 a:hover{
  color: orange;
 }
 header{
  position: relative;
  padding: 0,2rem;
 }
 .navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(75, 75, 75);
 }
 .navbar .list{
  display: flex;
  gap: 2rem;
 }
.navbar .toggle-btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
header .dropdown-menu{
  
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  display: none;
  width: 200px;
  background: rgb(250, 250, 250, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: hight 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
  height: auto;
}
.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* responsive */
@media(max-width: 500px){
  .navbar .list{
    display:none ;
  }
  .navbar  .toggle-btn{
    display: block;
  }
  .dropdown-menu.open {
  display: block;
  }
  
}